*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.resume{
  display: flex;
margin: 30px;
border-radius: 18px;
border: 1px solid #3635356b;
overflow: hidden;

}

.dates{
  flex: 1;
  padding: 18px;  
background: rgb(1, 17, 53);
color: white;
text-align: end;

}
.content{
  flex:3;
  padding: 20px;
}

.grid-resume {
display: grid;
grid-template-columns: auto auto;
width: max-content;
}

.name{
cursor: pointer;
}

.grid-item {
padding: 8px 180px 0 0;
display: flex;
}
.grid-item p{
padding: 0 10px;
}
i{
color: white;
background-color: rgb(1, 17, 53);
padding: 5px;
border-radius: 50%;
}
.dark-blue{
color: rgb(1, 17, 53);
padding-bottom: 10px;
}
.top-info{
padding-bottom: 20px;
}
.headings{
margin-top:30px ;
}
.cv-content{
padding: 10px 35px;
border-left: 1px solid rgb(1, 17, 53);
margin-left: 13px;
}
.cv-headings{
display: flex;
padding-bottom: 5px;

}
.cv-headings i{
position: absolute;
transform: translate(-51px, -1px);
font-size: 16px;
padding: 10px;
height: 40px;
width: 40px;
}
.cv-headings h3{
font-size: 24px;
}
.dot{
height: 8px;
width: 8px;
background:  rgb(1, 17, 53);
border-radius: 50%;
position: absolute;
transform: translate(-39px, 0);
}
.italic{
display: flex;
align-items: center;
padding: 5px 0;
}
ul li{
margin-left:20px ;
}
.unpad{
padding-top: 0;
}
.italic p{
  white-space: nowrap;
  }
  
    
.dates-left{
position: absolute;
transform: translate(-218px, 0px);
color: white;
width: 132px;
text-align: end;
}
.status p{
  font-size: 16px;
  }
  
.levels{
display: flex;
}
.level{
height: 10px;
width: 10px;
background:  rgb(1, 17, 53);
border-radius: 100%;
margin: 0 0 0 4px;
}
.level-none{
height: 12px;
width: 12px;
background:  rgb(181 181 181);
border-radius: 100%;
margin: 0 0 0 4px;
}
.perfection{
width: -webkit-fill-available;
display: flex;
flex-direction: column;
align-items: end;
}


  
  
    
